body {
  margin: 0px;
  font-family: 'Yantramanav', sans-serif;
  background: black;
  color: white;
}

body p {
  font-size: 24px;
}

body .credit {
  font-size: 24px;
}

body h1 {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.navbar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  z-index: 999;
  height: 72px;
  position: fixed;
  padding-top: 18px;
}

.navbar .nav-inner {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.navbar .nav-inner .nav-options {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
}

.navbar .nav-inner .nav-options li {
  margin-right: 24px;
  line-height: 40px;
  cursor: pointer;
}

.navbar .nav-inner .nav-options li:hover {
  opacity: 0.6;
}

.navbar .nav-inner .nav-left {
  left: 0;
  padding-left: 36px;
}

.navbar .nav-inner .nav-right {
  right: 0;
  padding-right: 24px;
}

.navbar .divide {
  color: white;
  font-weight: bold;
  opacity: 1;
  cursor: default !important;
  font-size: 18px;
}

.navbar .divide:hover {
  opacity: 1 !important;
}

.navbar .logo {
  background-image: url("../res/logo-white.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 48px;
  cursor: pointer;
}

.nav-active {
  border-bottom: 2px white solid;
}

.nav-active:hover {
  opacity: 1 !important;
}

.container {
  width: 100%;
}

.container ul {
  list-style: none;
  padding: 0px;
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  height: 100vh;
}

.hero-section .hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section h1 {
  text-align: center;
  margin: 0px;
  font-weight: bold;
  font-size: 48px;
}

.hero-section p {
  text-align: center;
  font-size: 24px;
}

button {
  padding: 12px 24px 12px 24px;
  border: 2px solid white;
  margin: 18px 12px 18px 12px;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: rgba(0, 0, 0, 0);
  color: white;
  border-radius: 12px;
}

button:hover {
  background: white;
  color: black;
}

.hero-header {
  font-size: 64px;
}

.section-prototypes {
  background: #0d47a1;
}

.section-development {
  background: #1565c0;
}

.section-animation {
  background: #1976d2;
}

.section-logo {
  background: #1e88e5;
}

.section-photo {
  background: #2196f3;
}

.section-art {
  background: #42a5f5;
}
/*# sourceMappingURL=styles.css.map */