body {
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  background: black;
  color: white;
}

body p {
  font-size: 24px;
}

body .credit {
  font-size: 24px;
}

body h1 {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.visible {
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transition-delay: 700ms;
          transition-delay: 700ms;
  opacity: 1;
}

.invisible {
  -webkit-transition: 500ms;
  transition: 500ms;
  opacity: 0;
}

.navbar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  z-index: 999;
  height: 72px;
  position: fixed;
  padding-top: 18px;
}

.navbar .nav-inner {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.navbar .nav-inner .nav-options {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
}

.navbar .nav-inner .nav-options li {
  margin-right: 24px;
  line-height: 40px;
  cursor: pointer;
}

.navbar .nav-inner .nav-options li:hover {
  opacity: 0.6;
}

.navbar .nav-inner .nav-left {
  left: 0;
  padding-left: 36px;
}

.navbar .nav-inner .nav-right {
  right: 0;
  padding-right: 24px;
}

.navbar .divide {
  color: white;
  font-weight: bold;
  opacity: 1;
  cursor: default !important;
  font-size: 18px;
}

.navbar .divide:hover {
  opacity: 1 !important;
}

.navbar .logo {
  background-image: url("../res/logo-white.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin-right: 36px;
  cursor: pointer;
}

.nav-active {
  border-bottom: 2px white solid;
}

.nav-active:hover {
  opacity: 1 !important;
}

.container {
  width: 100%;
}

.container ul {
  list-style: none;
  padding: 0px;
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  height: 100vh;
}

.hero-section .hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section h1 {
  text-align: center;
  margin: 0px;
  font-weight: bold;
  font-size: 48px;
}

.hero-section p {
  text-align: center;
  font-size: 24px;
}

.title-container {
  position: fixed;
  left: 0%;
  right: 0%;
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: 38%;
  z-index: 999;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.title-container .hero-title {
  font-weight: normal !important;
  font-size: 42px;
  -webkit-transition: 1s;
  transition: 1s;
}

.title-container-nav {
  position: fixed;
  left: 112px;
  right: 85%;
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: 30px;
  text-align: center;
  z-index: 999;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.title-container-nav .hero-title {
  font-size: 18px;
  -webkit-transition: 1s;
  transition: 1s;
}

button {
  padding: 12px 24px 12px 24px;
  border: 2px solid white;
  margin: 18px 12px 18px 12px;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: rgba(0, 0, 0, 0);
  color: white;
  border-radius: 12px;
}

button:hover {
  background: white;
  color: black;
}

.hero-header {
  font-size: 64px;
}

.section-prototypes {
  background: #0d47a1;
}

.section-development {
  background: #1565c0;
}

.section-animation {
  background: #1976d2;
}

.section-logo {
  background: #1e88e5;
}

.section-photo {
  background: #2196f3;
}

.section-art {
  background: #42a5f5;
}

.bio-content {
  display: block;
  width: 36%;
}

.contact-icon {
  height: 40px;
  width: 40px;
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-right: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

h4 {
  margin: 0px;
  padding: 24px 36px 24px 24px;
  -webkit-transition: 200ms;
  transition: 200ms;
  border-radius: 6px;
  font-size: 22px;
  font-weight: normal;
}

h4:hover {
  background: #212225;
}

a {
  color: white;
  text-decoration: none;
}

.icon-phone {
  background-image: url("../res/icons/phone-24px.svg");
}

.icon-email {
  background-image: url("../res/icons/email-24px.svg");
}

.icon-cv {
  background-image: url("../res/icons/description-24px.svg");
}

.icon-insta {
  background-image: url("../res/icons/insta.png");
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.portrait-img {
  background: gray;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  margin-bottom: 36px;
  border-radius: 100%;
}

.bio {
  font-size: 18px;
  font-weight: normal;
  width: 75%;
}

.contact-form {
  width: 20%;
}

.contact-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.section-left {
  background: #101010;
  width: 100%;
  height: 100vh;
  margin: 0px;
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.genre {
  opacity: 0.6;
}

.foot {
  position: absolute;
  background: black;
  width: 100%;
  bottom: 0px;
  text-align: center;
  padding: 6px;
}

.foot .love {
  width: 18px;
  height: 18px;
  background-image: url("../res/icons/vimeo.png");
}

.foot p {
  opacity: 0.6;
  font-size: 14px;
  font-weight: normal;
}

.foot a {
  color: white;
}

.foot a:hover {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .bio-content {
    margin-left: 24px !important;
    padding-top: 48px !important;
    width: 100% !important;
  }
  .bio {
    margin-bottom: 0px !important;
    width: 83% !important;
  }
  .contact-form {
    padding: 12px 24px 12px 24px;
  }
  .contact-form h4 {
    font-size: 14px !important;
    padding: 12px;
  }
  .section-left {
    display: block;
    margin-left: 0px !important;
    padding-top: 80px;
    margin-bottom: 170px !important;
  }
  .section-left label {
    font-size: 12px;
    margin: 0px !important;
  }
  .section-left input[type="text"], .section-left input[type="email"] {
    height: 12px !important;
    margin: 6px 0px 6px 0px !important;
  }
  .section-left input[type="submit"] {
    padding: 3px 6px 3px 6px;
    font-size: 12px;
    margin: 0px !important;
  }
  .section-left textarea {
    height: 42px !important;
  }
  .section-left .portrait-img {
    width: 120px;
    height: 120px;
  }
  .section-left h1 {
    font-size: 28px !important;
    margin-left: 0px !important;
    margin-bottom: 12px !important;
  }
  .section-left p {
    font-size: 14px !important;
    width: 75% !important;
  }
}
/*# sourceMappingURL=styles.css.map */