$colorText: #555;
$colorMain: #212225;
$colorDark: #131417;
$colorLight: rgba(white, 0.3);
$colorLink: #ff7065;
$colorWhite: #eee;
$colorGreen: #66BB6A;
$colorYellow: #FBC02D;

body {
    margin: 0px;
    //font-family: 'Roboto Condensed', sans-serif;
    //font-family: 'Nunito', sans-serif;
    //font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Yantramanav', sans-serif;
    background: black;
    color: white;



    p {
        font-size: 24px;
    }

    .credit {
        font-size: 24px;
    }

    h1 {
        transition: 300ms;
    }
}

.container {
    width: 100%;
    
    ul {
        list-style: none;
        padding: 0px;
    }
}

.hero-section {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    height: 100vh;
    //filter: contrast(0.7);
    
    h1 {
        text-align: center;
        margin: 0px;
        font-weight: bold;
        font-size: 
    }

    p {
        text-align: center;
        font-size: 24px;
        //margin-top: 0px;
    }
}

button {
    padding: 12px 24px 12px 24px;
    border: 2px solid white;
    margin: 18px 12px 18px 12px;
    font-size: 22px;
    cursor: pointer;
    transition: 200ms;
    display: inline-flex;
    background: rgba(0,0,0,0);
    color: white;

    &:hover {
        background: white;
        color: black;
    }
}

.hero-header {
    font-size: 64px;
    //z-index: 99999;
}

//---------- mobile ----------

@media only screen and (max-width: 768px) {
    img {
        width: 112px !important;
    }

    .vid-window-active {
        background: black;
        
        video {
            height: 30% !important;
            transform: scale(1);
        }
    }

    .bio-content {
        margin-left: 24px !important;
        padding-top: 48px !important;
        width: 100% !important;
    }

    .bio {
        margin-bottom: 0px !important;
        width: 83% !important;
        //font-size: 18px;
    }

    .contact-form {
        padding: 12px 24px 12px 24px;
        width: 72%;

        h4 {
            font-size: 14px !important;
            padding: 12px;
        }
    }

    .section-left {
        display: block;
        margin-left: 0px !important;
        padding-top: 80px;
        margin-bottom: 170px !important;

        label {
            font-size: 12px;
            margin: 0px !important;
        }

        input[type="text"], input[type="email"] {
            height: 12px !important;
            margin: 6px 0px 6px 0px !important;
        }

        input[type="submit"] {
            padding: 3px 6px 3px 6px;
            font-size: 12px;
            margin: 0px !important;
        }

        textarea {
            height: 42px !important;
        }

        .portrait-img {
            width: 120px;
            height: 120px;
        }

        h1 {
            font-size: 28px !important;
            margin-left: 0px !important;
            margin-bottom: 12px !important;
        }

        p {
            font-size: 14px !important;
            width: 75% !important;
        }
    }

    .layer-left-active {
        transition: 1.5s;
        margin-bottom: 342px !important;
    }

    .more-info {
        padding: 24px !important; 

        .credits {
            width: 85% !important;
            p {
                font-size: 12px !important;
            }
        }
    }

    .foot {
        padding: 0px !important;
        p {
            font-size: 8px;
        }
    }

    .images {
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
        margin: 12px 0px 0px 0px !important;
        width: 75%;

        li {
            width: 0px;
        }

        img {
            padding-right: 12px !important;
        }
    }

    h1 {
        font-size: 36px !important;
        margin-left: 24px !important; 
        text-align: left !important;
    }

    .layer {
        padding: 24px;
        width: 100%;

        .layer-left {
            margin-bottom: -32px;
        }

        h1 {
            margin: 0px !important;
            font-size: 28px;
        }

        .genre {
            font-size: 14px;
        }
    
        .summary {
            font-size: 14px;
            width: 80%;
        }
    }

    .layer-main {

        text-align: left;
        height: 55vh !important;
        margin-bottom: 0px;
        animation: none !important;

        p {
            font-size: 18px !important; 
            text-align: left !important;
            margin-left: 24px !important;
        }
    }

    button {
        margin: 0px 12px 0px 0px !important;
        font-size: 14px;
        padding: 6px 12px 6px 12px;
    }

    .info {
        padding-right: 24px;
        font-size: 14px;
    }

    #fp-nav {
        //background: red !important;
        transform: scale(0.8) !important;
        right: 12px !important;
    }

    .hero-buttons {
        position: absolute;
        margin-left: 24px;
        bottom: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar {

        background: linear-gradient(black, transparent) ;

        .nav-left {
            position: absolute;
        }

        .nav-options {
            //background: red !important;
            position: absolute;
        }

        li {
            font-size: 12px !important;
            margin-right: 24px !important;
        }

        .nav-inner {
            padding: 6px 24px 0px 24px !important;
        }

        .nav-right {
            height: 60px !important;
            padding: 0px !important;

            li {
                display: flex !important;
                justify-content: center !important;
                align-items: center !important;
                margin: 0px 0px 0px 24px !important;
            }
        }
    }

    video {
        height: 35% !important;
        width: 100% !important;
        object-fit: contain;
    }

    .grid-container {
        margin: 0px !important;
        grid-template-columns: 1fr !important;
        width: 100% !important;
        grid-gap: 24px;
        padding-top: 90px !important;
        padding-bottom: 48px !important;
        border-radius: 0px !important;
        
        .photo {
            width: 100% !important;
            margin-top: 12px !important;
            margin-left:auto !important;
            margin-right: auto !important;
            height: auto !important;
            pointer-events: none;
        }
    }
}